  <!-- </div> -->
  <div class="container">
    <div id="welcome-greeting">
      <h1>Welcome!</h1>
      <h2>
          I'm a programmer from Portland, Oregon, USA.
          <br>
          I've worked on a variety of projects in school and beyond, and I always enjoy learning new things.
          <br>
          I've worked on a variety of projects in school and beyond, and I always enjoy learning new things!
          <br><br>
  
          Past projects include building Machine Learning models, working with Big Data
          infrastructure and tools, some Data Analysis, and even this website!
          <br>
          Past projects range from Object-Oriented Programming, web dev, 
          <br>
          Past projects include Object-Oriented Programming, Web Dev, modifying an OS kernel, 
          Parallel Programming, building Machine Learning models, working with Big Data
          infrastructure and tools, and some Data Analysis.
          <br><br>
  
          Please peruse some of those projects, find information about me and my work history,
          and feel free to get in touch with any comments or questions.
          <br>
          Please peruse some of those projects, find information about me and my work history,
          and feel free to get in touch with any comments or questions!
        </h2>
      <hr />
    </div>
  </div>
  <!-- <div class ="container"> -->
