  <!-- </div> -->
  <div class="container">
    <div id="welcome-greeting">
      <h1>Welcome!</h1>
      <h2>
          I'm a programmer from Portland, Oregon, USA.
          <br><br>

          I've worked on a variety of projects in school and beyond, and I always enjoy learning new things.
          <br><br>
          Past projects include:
          <ul>
            <li>Object-Oriented Programming</li>
            <li>Web Dev</li>
            <li>modifying an OS kernel</li>
            <li>Parallel Programming</li>
            <li>building Machine Learning models</li>
            <li>Big Data infrastructure and tools</li>
            <li>some Data Analysis</li>
          </ul>
          <br>
  
          Please peruse some of those projects, find information about me and my work history,
          and feel free to get in touch with any comments or questions!
        </h2>
      <hr />
    </div>
  </div>
  <!-- <div class ="container"> -->
