  <!-- </div> -->
  <div class="container">
    <div id="welcome-greeting">
      <h1>Welcome!</h1>
      <h2>
        I have recently begun my journey into the world of Data Science.
        I graduated from Portland State University with a Bachelor's degree in Computer Science
        and have since done some short-term contract work.
        <br><br>

        I have also explored Machine Learning and Big Data, mostly working in Python.
        I'm comfortable using whatever skills and tools are necessary for
        a project, which often means learning something new!
        <br><br>

        Please peruse my past projects and find information about me and my work history.
      </h2>
      <hr />
    </div>
  </div>
  <!-- <div class ="container"> -->
